body {
  background-color: #333333;
  font-size: 28px;
  font-family: Arial, sans-serif;
}

.myClass {
  color: #fff;
}

.myClass:after {
  content: "|";
  animation: blink 500ms linear infinite alternate;
  color: inherit;
  font-size: 1.5em;
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}